# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/

# Virtual env
.venv/
venv/
env/

# IDE
.idea/
.vscode/

# Local env
.env

# SQLite
*.db
*.sqlite3

# OS
.DS_Store
Thumbs.db